pandas
numpy
scikit-learn
matplotlib
seaborn
tqdm
python-dotenv 
nltk
spacy
sentence-transformers

nltk
spacy
sentence-transformers
pyyaml
faiss-cpu
evaluate
datasets

plotly
datasets
pyyaml
spacy
sentence-transformers

tqdm
python-dotenv 
pandas
numpy
scikit-learn